* {
    box-sizing: content-box;
}

.list{
    background-color: yellow;
   
}

#tittle{
    color: aquamarine;
    background-color: black;
    font-family: Georgia,serif;
}

#lasagna,#popcorn{
    color: aqua;
    background-color: green;
}

#pizza{
    color: red;
    background-color: violet;
}